* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    justify-content: center;
    background-color: beige;

}

header h1 {
    width: 99%;
    border: 5px solid black;
    padding: 10px;
    margin: 10px;
    flex-wrap: wrap;
    display: flex;
    position: relative;
    justify-content: center;
    text-align: center;
    flex: 1 2 1em;
    font-size: 70px;


}

nav {
    width: 99%;
    /* border: 5px solid black; */
    padding: 10px;
    margin: 10px;
    flex-wrap: wrap;
    display: flex;
    position: relative;
    justify-content: center;
    text-align: center; 
    font-size: 30px;
    flex: 1 2 1em;

    
}

ul {
 
    list-style-type: none;
    display: block;
    
}

li {
    display: block;
    float: left;
    margin: 40px;
    
}

main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;   
    /* width: 100%;
    border: 5px solid black;
    padding: 20px;
    margin: 20px; */
    flex: 1 2 400px;
}
#About {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;   
    width: 99%;
    border: 5px solid black;
    padding: 20px;
    margin: 20px;
    flex: 1 2 400px;
    height: 700px;
    font-size: 40px;

}

.pic {
    width: 300px;
    overflow: auto;
    resize: vertical;
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.About p {
    overflow: auto;
    resize: vertical;
    overflow: auto;
    resize: vertical;
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}



#Work {
    position: relative;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
    flex-wrap: wrap;   
    width: 99%;
    border: 5px solid black;
    padding: 20px;
    margin: 20px;
    flex: 1 2 400px;
    height: 700px;
    font-size: 40px;
}

#work1 {
    display: block;
    position: relative;
    border: 1px solid black;
    align-items: center;
    text-align: center;
    /* flex: 1 2 1em; */
    /* object-fit: cover;
    overflow: hidden;
    float: left; */
    height: 400px;
}

#horiseon {
   max-width: 100%;
   max-height: 100%;
   display: block;
}

#work2 {
    display: block;
    position: relative;
    border: 1px solid black;
    align-items: center;
    text-align: center;
    /* flex: 1 2 1em; */
    /* object-fit: cover;
    overflow: hidden;
    float: left; */
    height: 400px;
}

#project1 {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

#work3 {
    display: block;
    position: relative;
    border: 1px solid black;
    align-items: center;
    text-align: center;
    flex: 1 2 1em;
    object-fit: cover;
    overflow: hidden;
    float: left;
    height: 400px;
}

#work4 {
    display: block;
    position: relative;
    border: 1px solid black;
    align-items: center;
    text-align: center;
    flex: 1 2 1em;
    object-fit: cover;
    overflow: hidden;
    float: left;
    height: 400px;
}



#Contact {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;   
    width: 99%;
    border: 5px solid black;
    padding: 20px;
    margin: 20px;
    flex: 1 2 400px;
    height: 100px;
    font-size: 40px;
}

/* .Resume {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;   
    width: 99%;
    border: 5px solid black;
    padding: 20px;
    margin: 20px;
    flex: 1 2 400px;
    height: 700px;
} */


footer {
    display: flex;
    /* justify-content: center; */
    width: 99%;
    border: 1px solid black;
    padding: 20px;
    margin: 20px;
    flex: 1 2 1em;
    font-size: 40px;
    position: relative;
  
    justify-content: end;
  
}




@media screen and (max-width: 768px) {
    main {
        flex-direction: column;
    }
    .About, .Work, .Contact, .Resume {
        flex-direction: column;
    }
}


@media screen and (max-width: 1022px) {
    main {
        flex-direction: column;
    }
    .About, .Work, .Contact, .Resume {
        flex-direction: column;
    }
}


@media screen and (max-width: 1500x) {
    main {
        flex-direction: column;
    }
    .About, .Work, .Contact, .Resume {
        flex-direction: column;
    }
}