* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    justify-content: center;

}

header h1 {
    width: 99%;
    border: 5px solid black;
    padding: 10px;
    margin: 10px;
    flex-wrap: wrap;
    display: flex;
    position: relative;
    justify-content: center;
    text-align: center;
    flex: 1 2 1em;


}

nav {
    width: 99%;
    border: 5px solid black;
    padding: 10px;
    margin: 10px;
    flex-wrap: wrap;
    display: flex;
    position: relative;
    justify-content: center;
    text-align: center; 
    font-size: 20px;
    flex: 1 2 1em;

    
}

ul {
 
    list-style-type: none;
    display: block;
    
}

li {
    display: block;
    float: left;
    
}

main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;   
    /* width: 100%;
    border: 5px solid black;
    padding: 20px;
    margin: 20px; */
    flex: 1 2 400px;
}
.About {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;   
    width: 99%;
    border: 5px solid black;
    padding: 20px;
    margin: 20px;
    flex: 1 2 400px;
    height: 700px;
}

.Work {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;   
    width: 99%;
    border: 5px solid black;
    padding: 20px;
    margin: 20px;
    flex: 1 2 400px;
    height: 700px;
}

.Work p {
    display: block;
    position: relative;
    border: 1px solid black;
    align-items: center;
    text-align: center;
    flex: 1 2 1em;
}

.Contact {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;   
    width: 99%;
    border: 5px solid black;
    padding: 20px;
    margin: 20px;
    flex: 1 2 400px;
    height: 700px;
}

.Resume {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;   
    width: 99%;
    border: 5px solid black;
    padding: 20px;
    margin: 20px;
    flex: 1 2 400px;
    height: 700px;
}


footer {
    display: flex;
    justify-content: center;
    width: 99%;
    border: 1px solid black;
    padding: 20px;
    margin: 20px;
    flex: 1 2 1em;

}


@media screen and (max-width: 768px) {
    main {
        flex-direction: column;
    }
    .About, .Work, .Contact, .Resume {
        flex-direction: column;
    }
}